<h2 mat-dialog-title></h2>

<mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem">Country Name: {{info | json}} </mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>

</mat-dialog-content>

<!-- carrier: "Scancom Ltd (MTN Ghana)"
country_code: "GH"
country_name: "Ghana"
country_prefix: "+233"
international_format: "+233547347529"
line_type: "mobile"
local_format: "0547347529"
location: ""
number: "233547347529"
valid: true -->