<div class="container">
  <div class="row">
    <div class="col-12 col-md-6" style="margin-top:15%; margin-right:-30px">
      <div  >
        <h3>Phone Number Validation
        </h3>
        
      </div>
    <form class="example-form mt-3" [formGroup]="phoneNumberValidationForm" (ngSubmit)="sendPhoneNumber(phoneNumberValidationForm.value)">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter number</mat-label>
        <input matInput id="number" formControlName="number" type="number" required>
        <mat-error *ngIf="phoneNumberValidationForm.controls.number.invalid">{{ getRequiredMessage()}}</mat-error>
       </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>alphaTwoCode</mat-label>
          
          <mat-select  id="country_code" formControlName="country_code" >
            <mat-option *ngFor="let country_code of alphatwoCodeDetails"  [value]="country_code.alphaTwoCode">
              {{country_code.alphaTwoCode}}
            </mat-option>
          </mat-select> 
      
        </mat-form-field>
        <button type="submit" id="btn-test" class="btn btn-primary">Submit</button>
 </form>
</div>
<div class="d-none d-md-flex col-12 col-md-6 d-flex align-items-center  justify-content-center" style="height: 600px; margin-left:-20px">

  <img src="../../assets/images/img.png">
</div>

</div>

</div>